{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="{% url index %}">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{{URL_ROOT}}assets/img/static/adedotun2.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Biography of Adedotun Emiloluwafe Kuyebi</h3>
            <p>
				Adedotun Emiloluwafe Kuyebi was born on the 19th of May, 1994 in Ibadan to Mr. Oluwapamilerin Olugboyega Kuyebi and late Mrs. Adetoun Omotayo Kuyebi (Nee Adeleye).
				He fell ill sometimes in late 1994 and on investigation, his Genotype was confirmed to be 'ss'. He started his primary education at Froebel Foundation Nursery and Primary School,
				Kunle Abass Clos, New Bodija, Ibadan in 1997 as he was admitted early to the playgroup in the school.<br><br>

				In Year 2000 while his father was still working for Nigerian Breweries in Ibada, his mather was transferred to Sterling Bank Lagos and he moved with his mother and brother, Adewunmi to Lagos and continued his primary education at Childville School, Ogudu Lagos. WHen his mother went to be with the Lord in Year 2003, he returned to Froebel Foundation Nursery and Primary School to finish his primary education.<br><br>

				He finished there in Year 2005 and got admission into All Saints College, Jericho, Ibadan and was in the boarding house. DUe to health challenges when All Saints
				College moved to their permanent site after NIHORT in year 2006, he changed school to Bishop Akinyele Grammar School, Oke Are and was also in the boarding house.
				He finished his Junior Secondary School in Year 2010 and crossed over to Sammo Senior High School, Cape Coast in Ghana for his Senior Secondary Education.
				He gained admission to the University of Ibadan in 2017 to study Sociology. He would have gruaduated in year 2020 if not for the Covid-19 pandemic and ASUU strike.
				He took ill on Monday 12th APril in Ibadan and was admitted into Babcock University Teaching Hospital on Tuesday 13th April, 2021. At 7:25 am of Thursday 15th 2021, he left us and went to be with the Lord.<br><br>

				Adedotun, Chariman as we usually call him, was a trusted and reliable friend. A firm, determined and responsible achiever. A very loving, caring and pleasant friend to all who came across him.
				He was always ready to gie and willing to help make you comfortable while he would be uncomfortable. He never wanted to be a burden to anyone and will always bear pains until the pain is VERY UNBEARABLE!!! We thank God for this wonderful gift to the Kuyebi and Adeleye families.<br><br>

				His love for the whole family and relatives was more than the love of a woman for her child.
				The vacuum he left behind even at his tender age is just too big to fill. We will all miss him very much. Continue to rest with your Lord and Maker till we meet again in Jesus Name.
				Good Night Chairman.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Facts Section ======= -->
    <!--
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
  		-->
    </section><!-- End Facts Section -->

    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Our Mission</h2>
          <p>The mission of the Adedotun Emiloluwafe Kuyebi Sickle Cell Foundation is to enlighten the world about Sickle 	Cell Anemia and to be a connecting link in finding a cure.<br>
			Our Mission is to "improve the whole lives of those living with Sickle Cell Anemia" across the nation by employing innovative strategies to deliver impactful advocacy initiatives and live-enhancing programs, while supporting new research & therapies to cure the disease:
			It is a humanitarian effort channeled towards saving lives of people living with Sickle Cell Anemia and helping in the education of the society to prevent
			its occurrence.
		</p>
        </div>

        <div class="section-title">
          <h2>Our Vision</h2>
          <ul class = "visionList">
          	<li><i class="bi bi-check2-circle"></i>Increasing public awareness of sickle cell disease and providing support to families affected by Sickle Cell Anemia</li>
          	<li><i class="bi bi-check2-circle"></i>Supporting educational and informational activities to increase public awareness of issues affecting the Sickle Cell Anemia community</li>
          	<li><i class="bi bi-check2-circle"></i>Providing information to the public about the need for support, awareness, and advocacy for Sickle Cell Anemia</li>
          	<li><i class="bi bi-check2-circle"></i>Sponsoring meetings, events and workshops about how to live well with Sickle Cell Anemia</li>
          </ul>
        </div>

        <div class="section-title">
          <h2>Our Objectives</h2>
          <p>Adedotun Emiloluwafe Kuyebi Sickle Cell Foundation (AEKSCF) is a non-profit, non-governmental
			organisation (NGO) with the sole purpose of supporting research, education and funding of individuals, families of those who are impacted by sickle cell disease</p>
        </div>

        <!--
        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">HTML <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">CSS <i class="val">90%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">JavaScript <i class="val">75%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Photoshop <i class="val">55%</i></span>
            </div>
          </div>

        </div>
    	-->

      </div>
    </section><!-- End Our Skills Section -->

    <!-- ======= Tetstimonials Section ======= -->
    <!--
    <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Tetstimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-carousel swiper-container">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
	-->
    <!-- End Ttstimonials Section -->

  </main><!-- End #main --><main id="main">    
{% endblock %}

{% block otherCSS %}
{% endblock %}

{% block otherJS %}
{% endblock %}