{% extends "base.html" %}

{% block title %}
Board Of Trustees
{% endblock %}

{% block content %}
  <main id="main">

    <!-- ======= Our Team Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Board of Trustees</h2>
          <ol>
            <li><a href="{% url index %}">Home</a></li>
            <li>Board of Trustees</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
            <!--
              <div class="member-img">
                <img src="assets/img/team/team-1.jp" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            -->
              <div class="member-info">
                <h4>Adewumi Kuyebi</h4>
                <span>President</span>
                <p>Email: adewumikuyebi@yahoo.co.uk</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              
              <div class="member-info">
                <h4>Adaora Oyindamola Onoh</h4>
                <span>Secretary</span>
                <p>Email: aoonoh@gmail.com</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-info">
                <h4>Bartholomew John Mofiyifolowa Hayden</h4>
                <span>member</span>
                <p>Email: bartholomewjhayden@gmail.com</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              
              <div class="member-info">
                <h4>Fopefoluwa Olatunde Dirisu</h4>
                <span>Member</span>
                <p>Email: sopedirisu@hotmail.co.uk</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-info">
                <h4>Olanike Afolabi Obadara</h4>
                <span>Member</span>
                <p>Email: olanikeafolabi@yahoo.com</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
{% endblock %}
