{% extends "base.html" %}

{% block title %}
Medical Advisers
{% endblock %}

{% block content %}
  <main id="main">

    <!-- ======= Our Team Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Medical Advisers</h2>
          <ol>
            <li><a href="{% url index %}">Home</a></li>
            <li>Medical Advisers</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
            <!--
              <div class="member-img">
                <img src="assets/img/team/team-1.jp" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            -->
              <div class="member-info">
                <h4>Head of Department</h4>
                <span>Haemathology Department, Babcock University Teaching Hospital, Ilisan</span>
                <!--<p>Email: adewumikuyebi@yahoo.co.uk</p>-->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              
              <div class="member-info">
                <h4>Head of Department</h4>
                <span>Haemathology Department, University College Hospital, Ibadan</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-info">
                <h4>Dr. (Mrs.) Owojuyigbe</h4>
                <span>Lecturer/Consultant Haematologist, Obafemi Awolowo University/ Obafemi Awolowo University Teaching Hospital, Ile-Ife</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              
              <div class="member-info">
                <h4>Dr. (Mrs.) Akingbola</h4>
                <span>Senior Lecturer / Consultant Haematologist.<br> University College Hospital, Ibadan, Oyo State.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-info">
                <h4>Mrs. Eunice Awokoya</h4>
                <span>Clinical Psychologist, Babcock University Teaching Hospital, Ilishan-Remo, Ogun State.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-info">
                <h4>Dr. Adesola Oyelese</h4>
                <span>Lecturer / Consultant Haematologist, Babcock University Teaching Hospital, Ilishan-Remo, Ogun State.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-info">
                <h4>Dr. David Afolabi</h4>
                <span>Babcock University Teaching Hospital, Ilishan, Remo.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-info">
                <h4>Dr. (Mrs.) Ibironke Awodele</h4>
                <span>Lecturer / Consultant Haematologist, Babcock University / Babcock University Teaching Hospital, Ilishan - Remo</span>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
{% endblock %}
